<ion-header>
  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="createAccount()">
    <ion-list>
      <ion-item>
        <ion-label floating>Email address
          <em *ngIf="!validateEmail() && email.hasError('required')"> Required</em>
        </ion-label>
        <ion-input type="email" name="email" id="email" [formControl]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password
          <em *ngIf="!validatePassword() && password.hasError('required')"> Required</em>
        </ion-label>
        <ion-input type="password" name="password" id="password" [formControl]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password
          <em *ngIf="!confirmPassword.untouched && confirmPassword.hasError('required')"> Required</em>
          <em *ngIf="confirmPassword.hasError('mismatchedPassword')"> not matching</em>
        </ion-label>
        <ion-input type="password" name="confirmPassword" id="confirmPassword" [formControl]="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button color="dark" block type="submit" [disabled]="!registerForm.valid">Create Account</button>
    </div>
  </form>
</ion-content>
